<div class="container header__container--library">
  <div class="header__logo">
    <a class="header__link" href=""
      ><svg class="header__svg" width="24" height="24">
        <use href="./images/icon/Logo-mobile.svg#icon-film"></use>
      </svg>
    </a>

    <div class="header__nav">
      <a class="header__link-btn" href="./index.html"
        ><button type="button" class="header__btn" type="button">
          HOME
        </button></a
      >
      <a class="header__link-btn" href="./library.html"
        ><button class="header__btn header__btn--current" type="button">
          MY LIBRARY
        </button></a
      >
    </div>
  </div>
  <div class="btn-wrap">
    <button
      class="header__library-btn header__library-btn--orange"
      type="button"
    >
      watched
    </button>
    <button
      class="header__library-btn header__library-btn--transparent"
      type="button"
    >
      queue
    </button>
  </div>
</div>
