<header class="header header-index" data-page="home">
  <div class="container header__container--index">
    <div class="header__logo">
      <div class="logo-wrap">
        <a class="header__link" href=""
          ><svg class="header__svg" width="24" height="24">
            <use href="./images/icon/Logo-mobile.svg#icon-film"></use>
          </svg>
        </a>
        <a class="logotext" href="./index.html">Filmoteka</a>
      </div>

      <div class="header__nav">
        <a class="header__link-btn" href="./index.html"
          ><button class="header__btn header__btn--current" type="button">
            HOME
          </button></a
        >
        <a class="header__link-btn" href="./library.html"
          ><button class="header__btn" type="button">MY LIBRARY</button></a
        >
      </div>
    </div>

    <form class="search-form" id="search-form">
      <div class="input-wrap">
        <input
          class="search-input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie Search..."
        />
        <button class="search-btn" type="submit">
          <svg class="btn-icon" width="20" height="20">
            <use href="./images/icon/search_icon.svg#lupa"></use>
          </svg>
        </button>
      </div>
      <p class="error"></p>
      <include src="./partials/spinner.html"></include>
    </form>
  </div>
</header>
