<header class="header header-library" data-page="library">
  <div class="container header__container--library">
    <div class="header__logo">
      <div class="logo-wrap">
        <a class="header__link" href=""><svg class="header__svg" width="24" height="24">
            <use href="./images/icon/Logo-mobile.svg#icon-film"></use>
          </svg>
        </a>
        <a class="logotext" href="./index.html">Filmoteka</a>
      </div>

      <div class="header__nav">
        <a class="header__link-btn" href="./index.html"><button class="header__btn" type="button">HOME</button></a>
        <a class="header__link-btn" href="./library.html"><button class="header__btn header__btn--current"
            type="button">
            MY LIBRARY
          </button></a>
      </div>
    </div>
    <div class="btn-wrap">
      <button class="header__library-btn" type="button" id="watched-button">
        watched
      </button>
      <button class="header__library-btn" type="button" id="queue-button">
        queue
      </button>
    </div>
  </div>
</header>