<section class="libryary">

<div class="film__list">
<ul class="film__card">
    <a href=""><li class="film__img">
        <img class="film__pict" src= "./images/photo_2022-06-15_13-16-12.jpg" alt="" width="359" height="574">
<!-- <img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">-->
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<!-- <h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p> </a>--> 
</li>
 <!-- <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p>
</li>
 <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p>
</li>
 <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p>
</li>
 <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p>
</li>
 <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p>
</li> <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p>
</li>
 <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p>
</li> <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p> 
</li>
 <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p>
</li> <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр, 2020</p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p> 
</li>
 <li class="film__img">
        <img class="film__pict" src= "./images/icon/Rectangle 12.jpg" alt="" width="359" height="574">
<img class="film__pict" src= "`${homepage"}`" alt="`${original_title}`" width="359" height="574">
<div class="film__title">
<h2 class="film__name">Название фильма</h2>
<p class="film__genres">Жанр<span>"film__release_date"</span></p> 
</div>
<h2>`${original_title}`</h2>
<p>`${genres} ${release_date}`</p> 
</li> -->

</ul>

</div>
</section>
