<div class="container is-hidden modal">
  <div class="tim">
    <button class="close-btn" type="button">
      <span class="close-btn_span">x</span>
    </button>
    <h2 class="logo__tim">Команда letJS</h2>
    <ul class="tim__cards">
      <li class="tim__list card">
        <img
          class="tim__img"
          src="./images/yura.jpg"
          alt="Юрій Лис"
          width=""
          height=""
        />
        <h3 class="tim__name">Юрій Лис</h3>
        <p class="tim__position">Team Lead</p>
        <p class="tim__slogo">Командує як Бог</p>
      </li>
      <li class="tim__list card">
        <img
          class="tim__img"
          src="./images/roma.jpg"
          alt="Роман Меркулов"
          width=""
          height=""
        />
        <h3 class="tim__name">Роман Меркулов</h3>
        <p class="tim__position">Scrum Master</p>
        <p class="tim__slogo">Направляє на шлях</p>
      </li>
      <li class="tim__list card">
        <img
          class="tim__img"
          src="./images/andrii.jpg"
          alt="Андрій Гайда"
          width=""
          height=""
        />
        <h3 class="tim__name">Андрій Гайда</h3>
        <p class="tim__position">Frontend Developer</p>
        <p class="tim__slogo">Дайте ще роботи</p>
      </li>
      <li class="tim__list card">
        <img
          class="tim__img"
          src="./images/anton.jpg"
          alt="Антон Бобришев"
          width=""
          height=""
        />
        <h3 class="tim__name">Антон Бобришев</h3>
        <p class="tim__position">Frontend Developer</p>
        <p class="tim__slogo">Верстає як Бог</p>
      </li>
      <li class="tim__list card">
        <img
          class="tim__img"
          src="./images/lika.jpg"
          alt="Ліка Россинська"
          width=""
          height=""
        />
        <h3 class="tim__name">Ліка Россинська</h3>
        <p class="tim__position">Frontend Developer</p>
        <p class="tim__slogo">Створює красоту</p>
      </li>
      <li class="tim__list card">
        <img
          class="tim__img"
          src="./images/andrii-s.jpg"
          alt="Андрій Скрипка"
          width=""
          height=""
        />
        <h3 class="tim__name">Андрій Скрипка</h3>
        <p class="tim__position">Frontend Developer</p>
        <p class="tim__slogo">Тільки вперед</p>
      </li>
    </ul>
  </div>
</div>
