.gallery {
  --items: 1;
  --indent: 20px;
  margin-top: 20px;

  @include mq(tablet) {
    --items: 2;
    --indent: 32px;
  }

  @include mq(desktop) {
    --items: 3;
    --indent: 32px 16px;
  }
}

.card_item {
  min-height: 438px;
  cursor: pointer;

  @include mq(tablet) {
    min-height: 495px;
  }

  @include mq(desktop) {
    min-height: 634px;
  }
}

.card__image {
  overflow: hidden;
  border-radius: 5px;

  margin-bottom: 10px;

  .image {
    width: 100%;
    min-height: 398px;

    @include mq(tablet) {
      min-height: 455px;
    }

    @include mq(desktop) {
      min-height: 574px;
    }
  }
}

.card__info {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $card-genre-color;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__title {
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  color: $card-titel-color;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.vertical-line {
  padding: 0 3px;
}

.card__average {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: 9px;
  padding: 1px 6px;
  border-radius: 5px;
  color: #ffffff;
  background: $card-genre-color;
}
