main {
  min-height: calc(100vh - 350px);
}
.placeholder {
  display: block;
}
b {
  font-size: 24px;
  text-align: center;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.game-hero {
  display: block;
  max-width: 100%;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  @include mq(tablet) {
    max-width: 100%;
  }
}
