.libryary{
padding-top: 20px;
padding-bottom: 40px;

@include mq(desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}
.film__card{
    display: flex;
    @include mq(mobile-only) {
justify-content: center;
flex-direction: column;
    }
@include mq(tablet-only) {
flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@include mq(desktop) {
  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.film__list{
    
    @include mq(mobile-only) {
  display: flex;
    justify-content: center;
  }

}

.film__title{
   margin-top: 0px;


}

.film__pict{
@include mq(mobile-only) {
  display: flex;
    width: 280px;
    height: 398px;
  }
width: 336px;
    height: 455px;

  @include mq(desktop) {
    width: 394px;
    height: 574px;
  }
}

.film__img{
@include mq(mobile-only) {
    
   margin-right: 0px; 
}
   margin-bottom: 0;
   
&:not(:last-child){
   margin-bottom: 21px;
}
margin-right: 32px; 

//@media screen and (min-width: 768px) and (max-width: 1278px)
@media screen and (min-width: 768px) and (max-width: 1050px){
 
margin-bottom: 32px;

&:nth-child(2n){
    margin-right: 0;
}
  }
&:nth-last-child(-n+2){
    margin-bottom: 32px;
}
@include mq(desktop) {
&:nth-child(3n+3){
    
    margin-right: 0;
}
  
&:nth-last-child(-n+2){
    margin-bottom: 32px;
}
}
}

.film__name{
    margin-top: 8px;
    
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #000000;

}
.film__genres{
    font-size: 12px;
    line-height: 1.33;

    color:#FF6B08;
}
